<?xml version="1.0" encoding="UTF-8"?>  
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
                       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
  <display-name>OpenKM</display-name>
  
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.openkm.com/tags/utils</taglib-uri>
      <taglib-location>/WEB-INF/tlds/utils.tld</taglib-location>
    </taglib>
  </jsp-config>
  
  <!-- Filters -->
  <!--
  <filter>
    <filter-name>HibernateFilter</filter-name>
    <filter-class>com.openkm.servlet.HibernateFilter</filter-class>
  </filter>
  -->

  <!-- Listeners -->
  <listener>
    <listener-class>com.openkm.servlet.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>  

  <!-- Startup Servlets -->
  <servlet>
    <servlet-name>RepositoryStartup</servlet-name>
    <servlet-class>com.openkm.servlet.RepositoryStartupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Webdav</servlet-name>
    <servlet-class>com.openkm.servlet.WebdavServlet</servlet-class>
    <init-param>
      <param-name>x-missing-auth-mapping</param-name>
      <param-value>pavila:ponova</param-value>
    </init-param>
    <init-param>
      <param-name>authenticate-header</param-name>
      <param-value>Basic realm="OpenKM Webdav Server"</param-value>
    </init-param>
    <init-param>
      <param-name>resource-path-prefix</param-name>
      <param-value>/repository</param-value>
    </init-param>
    <init-param>
      <param-name>resource-config</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GDP Deployer Servlet</servlet-name>
    <servlet-class>org.jbpm.web.ProcessUploadServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <!-- Frontend Servlets -->
  <servlet>
    <servlet-name>WorkspaceServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.WorkspaceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.DocumentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FrontendAuthServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RepositoryServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.RepositoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FolderServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.FolderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PropertyGroupServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.PropertyGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FrontendDownloadServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GeneralServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.GeneralServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotifyServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.NotifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FrontendWorkflowServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.WorkflowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookmarkServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.BookmarkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.MailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThesaurusServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.ThesaurusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PropertyServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.PropertyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChatServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.ChatServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FrontendUserConfigServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.UserConfigServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NoteServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.NoteServlet</servlet-class>
  </servlet>
  
  <!-- Misc servlets -->
  <servlet>
  	<servlet-name>HandlerServlet</servlet-name>
  	<servlet-class>com.openkm.servlet.mobi.HandlerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SyndicationServlet</servlet-name>
    <servlet-class>com.openkm.servlet.SyndicationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.openkm.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MimeIconServlet</servlet-name>
    <servlet-class>com.openkm.servlet.MimeIconServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageLogoServlet</servlet-name>
    <servlet-class>com.openkm.servlet.ImageLogoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TextToSpeechServlet</servlet-name>
    <servlet-class>com.openkm.servlet.TextToSpeechServlet</servlet-class>
  </servlet>
  
  <!-- Admin servlets -->
  <servlet>
    <servlet-name>StatsGraphServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.StatsGraphServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RepositoryBackupServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.RepositoryBackupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RepositoryCheckerServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.RepositoryCheckerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkflowGraphServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.WorkflowGraphServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterWorkflowServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.RegisterWorkflowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.ReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BenchmarkServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.BenchmarkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogCatServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.LogCatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RepositoryViewServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.RepositoryViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DatabaseQueryServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.DatabaseQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PropertyGroupsServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.PropertyGroupsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActivityLogServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.ActivityLogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoggedUsersServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.LoggedUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MailAccountServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.MailAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TwitterAccountServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.TwitterAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkflowServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.WorkflowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MimeTypeServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.MimeTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserConfigServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.UserConfigServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveSessionsServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.ActiveSessionsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RepositorySearchServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.RepositorySearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.CheckEmailServlet</servlet-class>
  </servlet>
  
  <!-- Extensions -->
  <servlet>
    <servlet-name>StaplingServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.extension.StaplingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StaplingDownloadServlet</servlet-name>
    <servlet-class>com.openkm.servlet.extension.StaplingDownloadServlet</servlet-class>
  </servlet>
    
  <!-- WebServices -->
  <servlet>
    <servlet-name>OKMAuth</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMAuth</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMBookmark</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMBookmark</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMDocument</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMDocument</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMFolder</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMFolder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMMail</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMMail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMNote</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMNote</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMNotification</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMNotification</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMProperty</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMProperty</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMPropertyGroup</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMPropertyGroup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMRepository</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMRepository</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMSearch</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMWorkflow</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMWorkflow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMTest</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMTest</servlet-class>
  </servlet>
  
  <!-- Test Servlets -->
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.openkm.servlet.TestServlet</servlet-class>
  </servlet>
  
  <!-- Filter Mappings -->
  <!--
  <filter-mapping>
    <filter-name>HibernateFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->

  <!-- Frontend Servlet Mappings -->
  <!-- 
  <servlet-mapping>
    <servlet-name>RepositoryStartup</servlet-name>
    <url-pattern>/RepositoryStartupServlet</url-pattern>
  </servlet-mapping>
  -->
  <servlet-mapping>
    <servlet-name>Webdav</servlet-name>
    <url-pattern>/repository/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GDP Deployer Servlet</servlet-name>
    <url-pattern>/upload/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkspaceServlet</servlet-name>
    <url-pattern>/frontend/Workspace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/frontend/Document</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrontendAuthServlet</servlet-name>
    <url-pattern>/frontend/Auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepositoryServlet</servlet-name>
    <url-pattern>/frontend/Repository</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FolderServlet</servlet-name>
    <url-pattern>/frontend/Folder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PropertyGroupServlet</servlet-name>
    <url-pattern>/frontend/PropertyGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/frontend/Mail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrontendDownloadServlet</servlet-name>
    <url-pattern>/frontend/Download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/frontend/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneralServlet</servlet-name>
    <url-pattern>/frontend/General</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotifyServlet</servlet-name>
    <url-pattern>/frontend/Notify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrontendWorkflowServlet</servlet-name>
    <url-pattern>/frontend/Workflow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/frontend/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/frontend/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookmarkServlet</servlet-name>
    <url-pattern>/frontend/Bookmark</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThesaurusServlet</servlet-name>
    <url-pattern>/frontend/Thesaurus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PropertyServlet</servlet-name>
    <url-pattern>/frontend/Property</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/frontend/Chat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrontendUserConfigServlet</servlet-name>
    <url-pattern>/frontend/UserConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoteServlet</servlet-name>
    <url-pattern>/frontend/Note</url-pattern>
  </servlet-mapping>
  
  <!-- Extensions Servlet Mappings -->
  <servlet-mapping>
    <servlet-name>StaplingServlet</servlet-name>
    <url-pattern>/extension/Stapling</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaplingDownloadServlet</servlet-name>
    <url-pattern>/extension/StaplingDownload</url-pattern>
  </servlet-mapping>
  
  <!-- Misc servlets mappings -->
  <servlet-mapping>
  	<servlet-name>HandlerServlet</servlet-name>
  	<url-pattern>/mobi/Handler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SyndicationServlet</servlet-name>
    <url-pattern>/feed/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MimeIconServlet</servlet-name>
    <url-pattern>/mime/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageLogoServlet</servlet-name>
    <url-pattern>/logo/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TextToSpeechServlet</servlet-name>
    <url-pattern>/TextToSpeech</url-pattern>
  </servlet-mapping>
  
  <!-- Admin Servlet Mappings -->
  <servlet-mapping>
    <servlet-name>StatsGraphServlet</servlet-name>
    <url-pattern>/admin/StatsGraph</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepositoryBackupServlet</servlet-name>
    <url-pattern>/admin/RepositoryBackup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepositoryCheckerServlet</servlet-name>
    <url-pattern>/admin/RepositoryChecker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkflowGraphServlet</servlet-name>
    <url-pattern>/admin/WorkflowGraph</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>RegisterWorkflowServlet</servlet-name>
    <url-pattern>/admin/RegisterWorkflow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/admin/Report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BenchmarkServlet</servlet-name>
    <url-pattern>/admin/Benchmark</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogCatServlet</servlet-name>
    <url-pattern>/admin/LogCat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepositoryViewServlet</servlet-name>
    <url-pattern>/admin/RepositoryView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatabaseQueryServlet</servlet-name>
    <url-pattern>/admin/DatabaseQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/admin/Auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PropertyGroupsServlet</servlet-name>
    <url-pattern>/admin/PropertyGroups</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityLogServlet</servlet-name>
    <url-pattern>/admin/ActivityLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoggedUsersServlet</servlet-name>
    <url-pattern>/admin/LoggedUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailAccountServlet</servlet-name>
    <url-pattern>/admin/MailAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TwitterAccountServlet</servlet-name>
    <url-pattern>/admin/TwitterAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkflowServlet</servlet-name>
    <url-pattern>/admin/Workflow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MimeTypeServlet</servlet-name>
    <url-pattern>/admin/MimeType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/admin/Profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserConfigServlet</servlet-name>
    <url-pattern>/admin/UserConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveSessionsServlet</servlet-name>
    <url-pattern>/admin/ActiveSessions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepositorySearchServlet</servlet-name>
    <url-pattern>/admin/RepositorySearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/admin/CheckEmail</url-pattern>
  </servlet-mapping>

  <!-- WebServices Servlet Mappings -->
  <servlet-mapping>
    <servlet-name>OKMAuth</servlet-name>
    <url-pattern>/OKMAuth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMBookmark</servlet-name>
    <url-pattern>/OKMBookmark</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMDocument</servlet-name>
    <url-pattern>/OKMDocument</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMFolder</servlet-name>
    <url-pattern>/OKMFolder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMMail</servlet-name>
    <url-pattern>/OKMMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMNote</servlet-name>
    <url-pattern>/OKMNote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMNotification</servlet-name>
    <url-pattern>/OKMNotification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMProperty</servlet-name>
    <url-pattern>/OKMProperty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMPropertyGroup</servlet-name>
    <url-pattern>/OKMPropertyGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMRepository</servlet-name>
    <url-pattern>/OKMRepository</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMSearch</servlet-name>
    <url-pattern>/OKMSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMWorkflow</servlet-name>
    <url-pattern>/OKMWorkflow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMTest</servlet-name>
    <url-pattern>/OKMTest</url-pattern>
  </servlet-mapping>

  <!-- Test Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>com.openkm.frontend.client.OKMException</exception-type>
    <location>/error.jsp</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  
  <!-- Security configurarion -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>OpenKM Protected Area</web-resource-name>
      
      <!-- GWT -->
      <url-pattern>/com.openkm.frontend.Main/*</url-pattern>
            
      <!-- JSPs -->
      <url-pattern>/admin/*</url-pattern>
      <url-pattern>/mobi/*</url-pattern>
            
      <!-- Servlets -->
	  <url-pattern>/RepositoryStartup</url-pattern>
	  <url-pattern>/TextToSpeech</url-pattern>
	  <url-pattern>/Test</url-pattern>
	  <url-pattern>/frontend/*</url-pattern>
	  <url-pattern>/extension/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
	  <role-name>AdminRole</role-name>
	  <role-name>UserRole</role-name>
   	</auth-constraint>
   	<user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>OpenKM</realm-name> 
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login.jsp?error=1</form-error-page>
    </form-login-config>
  </login-config>

  <security-role>
    <description>Admin user access</description>
    <role-name>AdminRole</role-name>
  </security-role>

  <security-role>
    <description>General user access</description>
    <role-name>UserRole</role-name>
  </security-role>

</web-app>
