<?xml version="1.0" encoding="UTF-8"?>  
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
                       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
  <display-name>OpenKM</display-name>

  <!-- Listeners -->
  <listener>
    <listener-class>com.openkm.servlet.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>  

  <!-- Startup Servlets -->
  <servlet>
    <servlet-name>RepositoryStartup</servlet-name>
    <servlet-class>com.openkm.servlet.RepositoryStartupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Webdav</servlet-name>
    <servlet-class>com.openkm.servlet.WebdavServlet</servlet-class>
    <init-param>
      <param-name>x-missing-auth-mapping</param-name>
      <param-value>pavila:ponova</param-value>
    </init-param>
    <init-param>
      <param-name>authenticate-header</param-name>
      <param-value>Basic realm="OpenKM Webdav Server"</param-value>
    </init-param>
    <init-param>
      <param-name>resource-path-prefix</param-name>
      <param-value>/repository</param-value>
    </init-param>
    <init-param>
      <param-name>resource-config</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GDP Deployer Servlet</servlet-name>
    <servlet-class>org.jbpm.web.ProcessUploadServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <!-- Frontend Servlets -->
  <servlet>
    <servlet-name>OKMWorkspaceServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMWorkspaceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMDocumentServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMDocumentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMAuthServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMAuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMRepositoryServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMRepositoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMFolderServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMFolderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMPropertyGroupServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMPropertyGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMDownloadServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMDashboardServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMDashboardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMGeneralService</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMGeneralServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMNotifyServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMNotifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMWorkflowServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMWorkflowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMSearchServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMFileUploadServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMFileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMBookmarkServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMBookmarkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMMailServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMMailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMThesaurusServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMThesaurusServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>OKMPropertyServlet</servlet-name>
    <servlet-class>com.openkm.frontend.server.OKMPropertyServlet</servlet-class>
  </servlet>
  
  <!-- Admin servlets -->
  <servlet>
    <servlet-name>StatsGraphServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.StatsGraphServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RepositoryBackupServlet</servlet-name>
    <servlet-class>com.openkm.servlet.admin.RepositoryBackupServlet</servlet-class>
  </servlet>

  <!-- Backend Servlets -->
  <!-- 
  <servlet>
    <servlet-name>OKMPropertyGroupServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMPropertyGroupServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMWorkflowServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMWorkflowServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMReportServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMReportServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMRepositoryServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMRepositoryServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMStatsServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMStatsServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMStatsGraphServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMStatsGraphServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMSearchServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMSearchServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMGeneralUtilsServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMGeneralUtilsServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMUserServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMUserServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMWorkflowUploadServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMWorkflowUploadServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMWorkflowViewServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMWorkflowViewServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMFolderServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMFolderServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMThesaurusServletAdmin</servlet-name>
    <servlet-class>com.openkm.backend.server.OKMThesaurusServletAdmin</servlet-class>
  </servlet>
  -->
  
  <!-- WebServices -->
  <servlet>
    <servlet-name>OKMDocument</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMDocument</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMAuth</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMAuth</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMPropertyGroup</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMPropertyGroup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMNotification</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMNotification</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMSearch</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMRepository</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMRepository</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMFolder</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMFolder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMMail</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMMail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OKMTest</servlet-name>
    <servlet-class>com.openkm.ws.endpoint.OKMTest</servlet-class>
  </servlet>
  
  <!-- Test Servlets -->
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.openkm.servlet.TestServlet</servlet-class>
  </servlet>
  
  <!-- Frontend Servlet Mappings -->
  <!-- 
  <servlet-mapping>
    <servlet-name>RepositoryStartup</servlet-name>
    <url-pattern>/RepositoryStartupServlet</url-pattern>
  </servlet-mapping>
  -->
  <servlet-mapping>
    <servlet-name>Webdav</servlet-name>
    <url-pattern>/repository/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GDP Deployer Servlet</servlet-name>
    <url-pattern>/upload/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMWorkspaceServlet</servlet-name>
    <url-pattern>/OKMWorkspaceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMDocumentServlet</servlet-name>
    <url-pattern>/OKMDocumentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMAuthServlet</servlet-name>
    <url-pattern>/OKMAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMRepositoryServlet</servlet-name>
    <url-pattern>/OKMRepositoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMFolderServlet</servlet-name>
    <url-pattern>/OKMFolderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMPropertyGroupServlet</servlet-name>
    <url-pattern>/OKMPropertyGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMMailServlet</servlet-name>
    <url-pattern>/OKMMailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMDownloadServlet</servlet-name>
    <url-pattern>/OKMDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMDashboardServlet</servlet-name>
    <url-pattern>/OKMDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMGeneralService</servlet-name>
    <url-pattern>/OKMGeneralServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMNotifyServlet</servlet-name>
    <url-pattern>/OKMNotifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMWorkflowServlet</servlet-name>
    <url-pattern>/OKMWorkflowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMSearchServlet</servlet-name>
    <url-pattern>/OKMSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMFileUploadServlet</servlet-name>
    <url-pattern>/OKMFileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMBookmarkServlet</servlet-name>
    <url-pattern>/OKMBookmarkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMThesaurusServlet</servlet-name>
    <url-pattern>/OKMThesaurusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMPropertyServlet</servlet-name>
    <url-pattern>/OKMPropertyServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Admin Servlet Mappings -->
  <servlet-mapping>
    <servlet-name>StatsGraphServlet</servlet-name>
    <url-pattern>/admin/StatsGraph</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepositoryBackupServlet</servlet-name>
    <url-pattern>/admin/RepositoryBackup</url-pattern>
  </servlet-mapping>

  <!-- Backend Servlet Mappings -->
  <!--
  <servlet-mapping>
    <servlet-name>OKMPropertyGroupServletAdmin</servlet-name>
    <url-pattern>/OKMPropertyGroupServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMWorkflowServletAdmin</servlet-name>
    <url-pattern>/OKMWorkflowServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMReportServletAdmin</servlet-name>
    <url-pattern>/OKMReportServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMRepositoryServletAdmin</servlet-name>
    <url-pattern>/OKMRepositoryServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMStatsServletAdmin</servlet-name>
    <url-pattern>/OKMStatsServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMStatsGraphServletAdmin</servlet-name>
    <url-pattern>/OKMStatsGraphServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMSearchServletAdmin</servlet-name>
    <url-pattern>/OKMSearchServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMGeneralUtilsServletAdmin</servlet-name>
    <url-pattern>/OKMGeneralUtilsServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMUserServletAdmin</servlet-name>
    <url-pattern>/OKMUserServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMWorkflowUploadServletAdmin</servlet-name>
    <url-pattern>/OKMWorkflowUploadServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMWorkflowViewServletAdmin</servlet-name>
    <url-pattern>/OKMWorkflowViewServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMFolderServletAdmin</servlet-name>
    <url-pattern>/OKMFolderServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMThesaurusServletAdmin</servlet-name>
    <url-pattern>/OKMThesaurusServletAdmin</url-pattern>
  </servlet-mapping>
  -->

  <!-- WebServices Servlet Mappings -->
  <servlet-mapping>
    <servlet-name>OKMDocument</servlet-name>
    <url-pattern>/OKMDocument</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMAuth</servlet-name>
    <url-pattern>/OKMAuth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMFolder</servlet-name>
    <url-pattern>/OKMFolder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMMail</servlet-name>
    <url-pattern>/OKMMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMPropertyGroup</servlet-name>
    <url-pattern>/OKMPropertyGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMNotification</servlet-name>
    <url-pattern>/OKMNotification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMSearch</servlet-name>
    <url-pattern>/OKMSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMRepository</servlet-name>
    <url-pattern>/OKMRepository</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OKMTest</servlet-name>
    <url-pattern>/OKMTest</url-pattern>
  </servlet-mapping>

  <!-- Test Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>com.openkm.frontend.client.OKMException</exception-type>
    <location>/error.jsp</location>
  </error-page>

  <error-page>
    <exception-type>com.openkm.backend.client.OKMException</exception-type>
    <location>/admin/error.jsp</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  
  <!-- Security configurarion -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>OpenKM Protected Area</web-resource-name>
      
      <!-- GWT -->
      <url-pattern>/com.openkm.frontend.Main/*</url-pattern>
      <url-pattern>/com.openkm.backend.Main/*</url-pattern>
      
      <!-- JSPs -->
      <url-pattern>/admin/*</url-pattern>
      <url-pattern>/mobi/*</url-pattern>
      
      <!-- Servlets -->
	  <url-pattern>/RepositoryStartupServlet</url-pattern>
	  <url-pattern>/Test</url-pattern>
	  <url-pattern>/OKM*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
	  <role-name>AdminRole</role-name>
	  <role-name>UserRole</role-name>
   	</auth-constraint>
   	<user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>OpenKM</realm-name> 
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login.jsp?error=1</form-error-page>
    </form-login-config>
  </login-config>

  <security-role>
    <description>Admin user access</description>
    <role-name>AdminRole</role-name>
  </security-role>

  <security-role>
    <description>General user access</description>
    <role-name>UserRole</role-name>
  </security-role>

</web-app>
